<%
ContentHeader = function ContentHeader(title = '', breadcrumb = []) {
    let breadcrumbHTML = '',
        breadcrumbLength = breadcrumb.length;

    breadcrumb.forEach(function(breadItem, index) {
        if (index === breadcrumbLength- 1) {
            breadcrumbHTML += `<li class="breadcrumb-item active">${breadItem.content}</li>`;
        } else {
            breadcrumbHTML += `<li class="breadcrumb-item"><a href=${breadItem.href}>${breadItem.content}</a></li>`;
        }
    })

    return `
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">${title}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            ${breadcrumbHTML}
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    `;
}
%>
